<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="jumbotron">
        <h1><%= fa_icon("wrench", text: base_title) %></h1>
        <p>キャッチコピーなどをここに記入する</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>このサイトについて</h3>
    <p>このサイトは高専ロボコンを愛する有志により運営されています。</p>
    <p>表示しているロボット名の情報には著作権などの権利は一切生じませんので誰でも自由に複写して使用することができます。</p>
    <p>このサイトで取り扱っている情報には間違いが含まれている可能性が十分にありますが、それよって生じた如何なる損害にも責任は持ちません。</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>謝辞</h3>
    <p>
      高専ロボコンを愛する皆さんから寄せられた情報を基に、ロボット名のデータベースが2016年に完成しました。
      特に次の方々には多くの協力を頂きました。
      ブロガーの方、木更津、旭川、有明、旧育英などの高専OBの方々、そして高専の学生、教職員、および事務職員の方々。
      さらに高専ロボコンに興味を持つ人が増えていくことを願いつつ、
      ロボット名が何時でも引き出せる機能を備えたこのウェブサイトの開設と運営を以て関係者の方々に深く感謝の意を表したいと思います。
    </p>
    <p class="text-right">
      高専ロボコンデータベース製作委員会
    </p>
  </div>
</div>
