<% provide(:title, "大会一覧") %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @contests, inner_window: 2, outer_window: 0  %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>回</th>
          <th>年</th>
          <th>大会名</th>
        </tr>
      </thead>
      <tbody>
        <% @contests.each do |contest| %>
          <tr>
            <td><%= contest.nth %></td>
            <td><%= contest.year %></td>
            <td><%= link_to contest.name, contest %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @contests, inner_window: 2, outer_window: 0  %>
  </div>
</div>