<% provide(:title, @contest.name) %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @robots, inner_window: 2, outer_window: 0  %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>キャンパス</th>
          <th>ロボット名</th>
          <th>カナ</th>
          <th>チーム</th>
        </tr>
      </thead>
      <tbody>
        <% @robots.each do |robot| %>
          <tr>
            <td><%= robot.campus.abbreviation %></td>
            <td><%= robot.name %></td>
            <td><%= robot.kana %></td>
            <td><%= robot.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @robots, inner_window: 2, outer_window: 0  %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= link_to fa_icon("chevron-left", text: "戻る"), contests_path %></p>
  </div>
</div>