@import "bootstrap-sprockets";
@import "honoka";

/* mixins, variables, etc. */

$default_line_color: #ddd;

/* universal */

body {
  margin-top: 120px;
  background-color: #fdfdfd
}

h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid $default_line_color;
}

h3 {
  margin-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $default_line_color;
}

/* アンカーリンクずれ防止 */

#sort-anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

/* footer */

footer {
  margin-top: 20px;
  border-top: 1px solid $default_line_color;
  padding-top: 10px;
  ul {
    padding-left : 0px;
    list-style: none;
    float: left;
    li {
      float: left;
      margin-right: 20px;
    }
  }
}

/* home */

.jumbotron {
  h1 {
    border-bottom: none;
  }
}

/* miscellaneous */

.debug_dump {
  width: 90%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}