<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="content">
      <% flash.each do |message_type, message| %>
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-<%= alert_type_convert(message_type) %>">
              <%= message %>
            </div>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <div class="row">
        <div class="col-lg-12">
          <p><%= link_to fa_icon("home", text: "HOME"), root_path unless params[:action] == "home" %></p>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
